@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Titillium+Web:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Titillium Web, sans-serif; 
    font-weight: 400;
    background-color: rgba(220, 225, 230, 0.527);
}

h2 {
    font-family: Merriweather, sans-serif;
    letter-spacing: 2px;
    text-align: center;
    margin: 4px;
    color: #252525;
}

h3 {
    font-family: Merriweather, sans-serif;
    letter-spacing: 2px;
    padding: 20px 15px 5px 15px;
    margin: 4px;
    color: #252525;
}

hr {
    border: 0.5px solid black;
    width: 100%;
    margin: 15px 0 5px;
}

.page-titles {
    text-align: center;
    padding: 10px 10px;
    margin: 1%;
}

.sub-titles {
    text-align: left;
    padding: 10px;
    margin-left: 1em;
}

.page-titles a:link, .sub-titles a:link, td a:link, li a:link {
    color: #252525;
    text-decoration: none;
    }

.page-titles a:hover, .sub-titles a:hover, td a:hover, .study li a:hover {
    /* background-color: rgba(159, 176, 223, 0.9) */

    /* https://developer.mozilla.org/en-US/docs/Web/CSS/transform-function/skew() */
    border-bottom: navy 2px solid;
}

.page-titles a:visited, .sub-titles a:visited, td a:visited, li a:visited {
    color: #252525;
    text-decoration: none;
}

.back-top {
    margin-top: 75px;
}

.back-top a:link {
    color: #252525;
    text-decoration: none;
    text-align: center;
}

.back-top a:hover {
    border-bottom: navy 2px solid;
}

.back-top a:visited {
    color: #252525;
    text-decoration: none;
}


/* Nav Menu styles*/

/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_fixed_menu*/

#menu {
    font-size: 150%;
    font-weight: 600;
    line-height: normal;
    display: flex;
    flex-direction: row;

    height: 100px;
    /*width: inherit;*/

    /* https://blog.logrocket.com/advanced-effects-with-css-background-blend-modes-4b750198522a/ */
    
    background: linear-gradient(rgba(220, 225, 230, 0.527), transparent),
                linear-gradient(to top left, navy, transparent),
                linear-gradient(to top right, rgb(7, 87, 207), transparent);
    background-blend-mode: screen;
}

#menu li {
    list-style-type: none;
    margin-inline-start: 120pt;
    padding-top: 35px; 
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 4px solid black;
}

/*Section and Aside - contents within*/
/* Need to check code on Runnable example HTML-36-aside-runnable */

aside {
    float: right;
    width: 40%;
    margin: .5rem;
    color: navy;
    border-left: 1px solid navy;
    font-style: italic;
    font-weight: bold;
    
    background-color: rgba(189, 193, 194, 0.699);
    background-clip: content-box;
}

aside > p {
    margin: 1.5rem;
}

section  {
	display: flex;
    padding: 0 15px;
}

#section-sleep {
    display: inline-block;
    text-align: left;
    margin: 1%
}

#section-exercise {
    display: inline-block;
    text-align: left;
    margin: 1%
}

#section-mindfulness {
    display: inline-block;
    text-align: left;
    margin: 1%
}

#section-suggestions {
    display: inline-block;
    text-align: left;
    margin: 1%
}

ol {
    margin-left: 35px;
}

img {
    margin: 1% 0 0 1%;
    width: 300px;
    height: 300px;
    clear: left;
    border-radius: 50%;
    border: navy solid 5px;
}


/* Social Media section styles*/

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 0.5%; 
    padding: 2% 5% 2% 5%;
    color: navy;
}


/* Videos in Sleep, Execise and Midfulness pages */
/* https://css-tricks.com/fluid-width-video */

video {
    clear: both;
    flex-wrap: wrap;
    margin: 1%;
    width: 500px;
    height: 600px;
    width: 25%    !important;
    height: auto  !important;
}


/* Table styling for sleep, exercise and mindfulness pages  */

table {
    padding: 50px 0 50px 10px;
}

table th, tr, td {
    padding: 12px 5px 12px 5px;
    border: solid navy 0.5px;
    padding-left: 0 10px 0 10px;
    text-align: center;
}


/* Form for suggestions page*/

.suggestions-form {
    margin: 15px;
    color: #fff;
    background: url("https://codeinstitute.s3.amazonaws.com/FundamentalsProjects/HTML-CSS/formbg.jpg");
    background: linear-gradient(rgba(220, 225, 230, 0.527), transparent),
                linear-gradient(to top left, navy, transparent),
                linear-gradient(to top right, rgb(7, 87, 207), transparent);

    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 2%;      
}

.suggestions-form textarea {
    margin-left: auto;
    margin-right: auto;
    width: 100%;  
}

.age {
    margin: 5px 0 20px 0;
    padding: 5px;
}

.text-input {
    background: transparent;
    color: black;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.radio-input {
    display: inline-block;
    color: #fafafa;
    width: 10%;
    height: 25px;
    margin: 15px 0 30px 0;
}

.text-input:hover {
    border-color: rgba(220, 225, 230, 0.527);
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: rgba(220, 225, 230, 0.527);
    color: #fafafa;
    display: block;
}

.join-button a:link {
    color: #252525;
    text-decoration: none;
    text-align: center;
}

.join-button:hover {
    color: #252525;
    transform: skew(-10deg);
    font-weight: bolder;
}

.join-button a:visited {
    color: #252525;
    text-decoration: none;
}


/* Media queries */

/* For larger to medium screens size from 1200px wide and down */

@media screen and (max-width: 1200px) {

    #menu li {
        flex-wrap: wrap;
        justify-content: center;
        font-size: 80%;
        font-weight: 500;
        padding: 0;
        margin: 0 auto;
    }
   
    .page-titles {
        clear: both;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .sub-titles {
        clear: both;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    aside {
        clear: both;
        text-align: center;
        display:inline-flex;
        margin-right: 15rem;
        width: 50%;
    }
    
    iframe {
        clear: both;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .suggestions-form {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        padding: 2%;      
    }

    .suggestions-form textarea {
        margin-left: auto;
        margin-right: auto;
        width: 100%;  
    }
    
    section {
        clear: both;
        display: inline;
    }

    .section-suggestions {
        clear: both;
        display: inline;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .back-top {
        clear: both;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .social-networks {
        clear: both;
    }

    .social-networks > li {
        clear: both;
        display: inline;
    }

    .social-networks i {
        clear: both;   
    }

    hr {
        display: none;
    }
}


/* For medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {

    #menu li {
        flex-wrap: wrap;
        justify-content: center;
        font-size: 80%;
        font-weight: 500;
        padding: 0;
        margin: 0 auto;
    }
   
    .page-titles {
        clear: both;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .sub-titles {
        clear: both;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    aside {
        clear: both;
        text-align: center;
        display: inline-block;
        margin-right: 7.5em;;
        width: 50%;
    }
    
    iframe {
        clear: both;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    video {
        clear: both;
        margin-left: 25%;
        width: 50%   !important;
        height: 50%  !important;
    }
    
    .suggestions-form {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        padding: 2%;      
    }

    .suggestions-form textarea {
        margin-left: auto;
        margin-right: auto;
        width: 100%;  
    }

    section {
        clear: both;
        display: inline;
        margin: 1%
    }

    .section-suggestions {
        clear: both;
        display: inline;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .back-top {
        clear: both;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .social-networks {
        clear: both;
    }

    .social-networks > li {
        clear: both;
        display: inline;
    }

    .social-networks i {
        clear: both;   
    }

    hr {
        display: none;
    }
}

