@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Titillium+Web:wght@300&display=swap');

body {
    font-family: Titillium Web, sans-serif;
    font-weight: 300;
}

h1, h2 {
    font-family: Merriweather, sans-serif;
    letter-spacing: 2px;
    text-align: center;
    margin: 4px;
    color: #252525;
}

h3 {
    font-family: Merriweather, sans-serif;
    letter-spacing: 2px;
    padding: 20px 15px 5px 15px;
    margin: 4px;
    color: #252525;
}

p {
    margin: 4px;
    padding: 0 15px;
}

hr {
    border: 0.5px solid black;
    width: 100%;
    margin-left: 5px;
}

#menu {
    font-size: 150%;
    line-height: 20px;
    display: flex;
    flex-direction: row;

    height: 100px;
    width: 100%;
    background: url(../images/nav-backgroud-image2.webp) center center;
}

#menu li {
    list-style-type: none;
    margin-inline-start: 170pt;
    padding-top: 35px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 5px solid black;
}

/* Social Media section styles*/
.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%; 
    padding: 5%;
    color: #3a3a3a;
}
