@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Titillium+Web:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Body text, headers and hr */
body {
    font-family: Titillium Web, sans-serif; 
    font-weight: 400;
    background-color: rgba(220, 225, 230, 0.527);
}

h2 {
    font-family: Merriweather, sans-serif;
    letter-spacing: 2px;
    text-align: center;
    margin: 4px;
    color: #252525;
}

h3 {
    font-family: Merriweather, sans-serif;
    letter-spacing: 2px;
    padding: 20px 15px 5px 15px;
    margin: 4px;
    color: #252525;
}

hr {
    border: 0.5px solid black;
    width: auto;
    margin: 2%;
}

.page-titles {
    text-align: center;
    margin: 1%;
}

.sub-titles {
    text-align: left;
    margin: 1%;
}

/* Aside - contents within */
aside {
    float: right;
    width: 40%;
    margin: 0.5em;
    color: navy;
    border-left: 1px solid navy;
    font-style: italic;
    font-weight: bold;
    
    background-color: rgba(189, 193, 194, 0.699);
    background-clip: content-box;
}

aside > p {
    padding: 1.5em;
}

/* Images, section and paragraph content for home page*/
.circle-images {
    position: relative;
    width: 30vw;
    height: 22vw;
    overflow: hidden;
    margin-left: 30px;
}

.circle-images img {
    height: 300px;
    width: 300px; 
    border-radius: 50%;
    border: navy solid 5px;
    width: 90%;
    height: 60%;
    object-fit: cover;
}

/* These ids had to be create to correct a layout issue on the home page */
#circle-images-sleep {
    position: relative;
    width: 36vw;
    height: 22vw;
    overflow: hidden;
    margin-left: 30px;
}

#circle-images-sleep img {
    height: 300px;
    width: 300px; 
    border-radius: 50%;
    border: navy solid 5px;
    width: 90%;
    height: 60%;
    object-fit: cover;
}

.home  {
	display: flex;
}

.home p {
	margin: 0 auto;
    text-align: justify;
    width: 70%;
}

/* Paragraph and list item content for sleep, exercise and mindfulness pages*/
#sleep p {
    text-align: justify;
    margin: 0 2% 0 2%;
}

#exercise p {
    text-align: justify;
    margin: 0 2% 0 2%;
}

#mindfulness p {
    text-align: justify;
    margin: 0 2% 0 2%;
}

#suggestions p {
    text-align: justify;
    margin: 0 2% 0 2%;
}

.study {
    text-align: center;
    list-style-position: inside;
}

/* Social Media section styles*/
.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 0.5%; 
    padding: 2% 5% 2% 5%;
    color: navy;
}

/* Psuedo classes for links on pages */
.page-titles a:link, .sub-titles a:link, td a:link, li a:link {
    color: #252525;
    text-decoration: none;
    }

.page-titles a:hover, .sub-titles a:hover, td a:hover, .study li a:hover {
    border-bottom: navy 2px solid;
}

.page-titles a:visited, .sub-titles a:visited, td a:visited, li a:visited {
    color: #252525;
    text-decoration: none;
}

.back-top {
    margin-top: 75px;
    text-align: center;
}

.back-top a:link {
    color: #252525;
    text-decoration: none;
    text-align: center;
}

.back-top a:hover {
    border-bottom: navy 2px solid;
}

.back-top a:visited {
    color: #252525;
    text-decoration: none;
}

/* For blended colors on nav menu and form: https://blog.logrocket.com/advanced-effects-with-css-background-blend-modes-4b750198522a/ */
/* Nav Menu styles*/
#menu {
    font-size: 150%;
    font-weight: 600;
    line-height: normal;
    display: flex;
    flex-direction: row;
    height: 100px;
    background: linear-gradient(rgba(220, 225, 230, 0.527), transparent),
                linear-gradient(to top left, navy, transparent),
                linear-gradient(to top right, rgb(7, 87, 207), transparent);
    background-blend-mode: screen;
}

#menu li {
    list-style-type: none;
    margin-inline-start: 130pt;
    padding-top: 35px; 
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 4px solid black;
}

/* To ensure that loaded videos loaded on page to a set height: https://css-tricks.com/fluid-width-video */
/* Videos in Sleep, Execise and Midfulness pages */
video {
    margin: 2% 35%;
    height: auto  !important;
}

/* Table styling for sleep, exercise and mindfulness pages  */
table {
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -1%;
}

table th, tr, td {
    padding: 12px 5px 12px 5px;
    border: solid navy 0.5px;
    text-align: center;
}

/* Form for suggestions page */
.suggestions-form {
    color: #fff;
    background: url("https://codeinstitute.s3.amazonaws.com/FundamentalsProjects/HTML-CSS/formbg.jpg");
    background: linear-gradient(rgba(220, 225, 230, 0.527), transparent),
                linear-gradient(to top left, navy, transparent),
                linear-gradient(to top right, rgb(7, 87, 207), transparent);
    margin: 5% 20%;
    padding: 2%;      
}

.suggestions-form textarea {
    margin-left: auto;
    margin-right: auto;
    width: 100%;  
}

.age {
    margin: 5px 0 20px 0;
    padding: 5px;
}

.text-input {
    background: transparent;
    color: black;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.radio-input {
    display: inline-block;
    color: #fafafa;
    width: 10%;
    height: 25px;
    margin: 15px 0 30px 0;
}

.text-input:hover {
    border-color: rgba(220, 225, 230, 0.527);
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: rgba(220, 225, 230, 0.527);
    color: #fafafa;
    display: block;
}

.join-button a:link {
    color: #252525;
    text-decoration: none;
    text-align: center;
}
/* For skew function on Submit button: https://developer.mozilla.org/en-US/docs/Web/CSS/transform-function/skew() */
.join-button:hover {
    color: #252525;
    transform: skew(-10deg);
    font-weight: bolder;
}

.join-button a:visited {
    color: #252525;
    text-decoration: none;
}

/* Media queries */
/* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {

    #menu li {
        flex-wrap: wrap;
        justify-content: center;
        font-size: 80%;
        font-weight: 500;
        padding: 0;
        margin: 0 auto;
    }
   
    .page-titles {
        clear: both;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .sub-titles {
        clear: both;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .page-titles {
        margin-bottom: 2%;
    }

    .home {
        clear: both;
        display: inline;
    }

    .circle-images {
        width: 200px;
        height: 300px;
        margin: auto;
        margin-bottom: -8%;
        padding-bottom: 55px;
    }

    #circle-images-sleep {
        width: 200px;
        height: 300px;
        margin: auto;
        margin-bottom: -8%;
        padding-bottom: 50px;
    }
    
    aside {
        clear: both;
        text-align: center;
        display:inline-flex;
        margin-right: 260px;
        margin-top: 2%;
        width: 50%;
    }
    
    iframe {
        clear: both;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .suggestions-form {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        padding: 2%;      
    }

    .suggestions-form textarea {
        margin-left: auto;
        margin-right: auto;
        width: 100%;  
    }

    .section-suggestions {
        clear: both;
        display: inline;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .back-top {
        clear: both;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .social-networks {
        clear: both;
    }

    .social-networks > li {
        clear: both;
        display: inline;
    }

    .social-networks i {
        clear: both;   
    }

    form {
        margin: 5% 20%;
        padding: 2%; 
    }

    hr {
        display: none;
    }
}


@media screen and (max-width: 950px) {
    
    #menu li {
        flex-wrap: wrap;
        justify-content: center;
        font-size: 100%;
        font-weight: 500;
        padding: 0;
        margin: 0 auto;
    }
   
    .page-titles {
        clear: both;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .sub-titles {
        clear: both;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .page-titles {
        margin-bottom: 2%;
    }

    .home {
        clear: both;
        display: inline;
    }

    .circle-images {
        width: 200px;
        height: 290px;
        margin-right: 345px;
        margin-bottom: -14%;
    }

    #circle-images-sleep {
        width: 200px;
        height: 290px;
        margin-right: 345px;
        margin-bottom: -14%;
    }

    aside {
        clear: both;
        text-align: center;
        display: inline-block;
        margin-right: 205px;
        width: 50%;
        margin-top: 4%;
    }
    
    iframe {
        clear: both;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    video {
        clear: both;
        margin-left: 25%;
        width: 50%   !important;
        height: 50%  !important;
    }
    
    .suggestions-form {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        padding: 2%;      
    }

    .suggestions-form textarea {
        margin-left: auto;
        margin-right: auto;
        width: 100%;  
    }

    .back-top {
        clear: both;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .social-networks {
        clear: both;
    }

    .social-networks > li {
        clear: both;
        display: inline;
    }

    .social-networks i {
        clear: both;   
    }

    form {
        margin: 5% 20%;
        padding: 2%; 
    }

    hr {
        display: none;
    }
}


@media screen and (max-width: 820px) {
    

    #menu li {
        flex-wrap: wrap;
        justify-content: center;
        font-size: 90%;
        font-weight: 500;
        padding: 0;
        margin: 0 auto;
    }

    .circle-images {
        width: 200px;
        height: 290px;
        margin-right: 300px;
        margin-bottom: -17%;
    }

    #circle-images-sleep {
        width: 200px;
        height: 290px;
        margin-right: 300px;
        margin-bottom: -16%;
    }
}


@media screen and (max-width: 768px) {

    aside {
        clear: both;
        text-align: center;
        display: inline-block;
        margin-right: 195px;
        width: 50%;
        margin-top: 4%;
    }

    iframe {
        clear: both;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .circle-images {
        width: 200px;
        height: 290px;
        margin-right: 280px;
        margin-bottom: -17%;
    }

    #circle-images-sleep {
        width: 200px;
        height: 290px;
        margin-right: 280px;
        margin-bottom: -16%;
    }

}


@media screen and (max-width: 576px) {

    aside {
        clear: both;
        text-align: center;
        display: inline-block;
        margin-right: 130px;
        width: 50%;
        margin-top: 4%;
    }

    iframe {
        clear: both;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .circle-images {
        width: 200px;
        height: 290px;
        margin-right: 165px;
        margin-bottom: -14%;
        padding-bottom: 15px;
    }

    #circle-images-sleep {
        width: 200px;
        height: 290px;
        margin-right: 165px;
        padding-bottom: 15px;
        margin-bottom: -14%;
    }

}


@media screen and (max-width: 420px) {

    #menu li {
        flex-wrap: wrap;
        justify-content: center;
        font-size: 60%;
        font-weight: 500;
        padding: 0;
        margin: 0 auto;
    }
    
    aside {
        clear: both;
        text-align: center;
        display: inline-block;
        margin-right: 95px;
        width: 50%;
        margin-top: 4%;
    }

    iframe {
        clear: both;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .circle-images {
        width: 200px;
        height: 300px;
        margin-right: 100px;
        margin-bottom: -22%;
        padding-bottom: 2px;
    }

    #circle-images-sleep {
        width: 200px;
        height: 300px;
        margin-right: 100px;
        margin-bottom: -22%;
        padding-bottom: 15px;
    }
}


@media screen and (max-width: 400px) {

    #menu li {
        flex-wrap: wrap;
        justify-content: center;
        font-size: 60%;
        font-weight: 500;
        padding: 0;
        margin: 0 auto;
    }

    .circle-images {
        width: 200px;
        height: 300px;
        margin-right: 85px;
        margin-bottom: -22%;
        padding-bottom: 2px;
    }

    #circle-images-sleep {
        width: 200px;
        height: 300px;
        margin-right: 85px;
        margin-bottom: -22%;
        padding-bottom: 15px;
    }
}


@media screen and (max-width: 360px) {

    .circle-images {
        width: 200px;
        height: 300px;
        margin-right: 75px;
        margin-bottom: -22%;
        padding-bottom: 2px;
    }

    #circle-images-sleep {
        width: 200px;
        height: 300px;
        margin-right: 75px;
        margin-bottom: -22%;
        padding-bottom: 15px;
    }
}


@media screen and (max-width: 280px) {

    aside {
        clear: both;
        text-align: center;
        display: inline-block;
        margin-right: 65px;
        width: 50%;
        margin-top: 4%;
    }

    iframe {
        clear: both;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    #menu li {
        flex-wrap: wrap;
        justify-content: center;
        font-size: 50%;
        font-weight: 500;
        padding: 0;
        margin: 0 auto;
    }

    .page-titles {
        text-align: center;
        margin: 4%;
        margin-left: 70px;
        font-size: 20px;
    }

    .home p {
        margin: 0 auto;
        text-align: justify;
        width: 80%;
    }

    aside > p {
        padding: 0.5em;
    }

    .circle-images {
        width: 200px;
        height: 300px;
        margin-right: 35px;
        margin-bottom: -22%;
        padding-bottom: 2px;
    }

    #circle-images-sleep {
        width: 200px;
        height: 300px;
        margin-right: 35px;
        margin-bottom: -22%;
        padding-bottom: 15px;
    }
}